Simple Linear Regression

In [39]:
import pandas as pd
import numpy as np
import sklearn 
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [40]:
traffic = pd.read_csv('traffic_flow.csv', index_col=0)
print(traffic.head(5))

          timestamp device_id                 name  latitude  longitude  \
216  10/3/2022 0:00      S115  Tuas South Avenue 3   1.29377  103.61843
217  10/3/2022 1:00      S115  Tuas South Avenue 3   1.29377  103.61843
218  10/3/2022 2:00      S115  Tuas South Avenue 3   1.29377  103.61843
219  10/3/2022 3:00      S115  Tuas South Avenue 3   1.29377  103.61843
220  10/3/2022 4:00      S115  Tuas South Avenue 3   1.29377  103.61843

     temp_value  rain_value  count
216   28.051667    0.033333   1345
217   28.095000    0.000000    962
218   27.800000    0.033333    679
219   27.976667    0.000000    634
220   27.750000    0.033333    728

In [52]:
print(traffic.describe())

X = traffic.iloc[:, 5:-1].values
y = traffic.iloc[:, -1].values

# print(X)
# print(y)

           latitude     longitude  temp_value  rain_value        count
count  7.200000e+01  7.200000e+01   72.000000   72.000000    72.000000
mean   1.293770e+00  1.036184e+02   27.751262    0.004398   762.000000
std    1.118014e-15  2.003481e-13    0.746333    0.018971    98.849865
min    1.293770e+00  1.036184e+02   25.480000    0.000000   224.000000
25%    1.293770e+00  1.036184e+02   27.515000    0.000000   762.000000
50%    1.293770e+00  1.036184e+02   27.864167    0.000000   762.000000
75%    1.293770e+00  1.036184e+02   28.161250    0.000000   762.000000
max    1.293770e+00  1.036184e+02   28.778333    0.150000  1345.000000

In [53]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [54]:
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [55]:
print(regressor.intercept_)
print(regressor.coef_)

476.4434261178874
[  10.13317392 1627.86422195]

In [56]:
y_pred = regressor.predict(X_test)

In [57]:
df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
df

    Actual   Predicted
0      762  759.142090
1      762  757.571448
2      762  765.390880
3      762  734.636697
4      762  759.006981
5      762  766.032648
6      762  999.099567
7      762  765.289549
8      762  758.314547
9      762  764.776668
10     762  766.167757
11     762  758.719874
12     762  757.655891
13     762  761.894935
14     762  758.719874

In [58]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 20.47298208751209
Mean Squared Error: 3807.9558584993097
Root Mean Squared Error: 61.70863682256569