To generate timestamps for locations

In [16]:
from pandas import read_csv

In [20]:
tuas = read_csv('tuas_weather_data.csv',index_col=0)
tuas['timestamp'] = tuas['timestamp'].str.replace('T',' ')

In [21]:
print(tuas.shape)
print(tuas.head(5))

(24, 7)
               timestamp device_id                 name  latitude  longitude  \
216  2022-03-10 00:00:00      S115  Tuas South Avenue 3   1.29377  103.61843
217  2022-03-10 01:00:00      S115  Tuas South Avenue 3   1.29377  103.61843
218  2022-03-10 02:00:00      S115  Tuas South Avenue 3   1.29377  103.61843
219  2022-03-10 03:00:00      S115  Tuas South Avenue 3   1.29377  103.61843
220  2022-03-10 04:00:00      S115  Tuas South Avenue 3   1.29377  103.61843

     temp_value  rain_value
216   28.051667    0.033333
217   28.095000    0.000000
218   27.800000    0.033333
219   27.976667    0.000000
220   27.750000    0.033333

In [22]:
woodlands_ave = read_csv('woodlands_ave_weather_data.csv',index_col=0)
woodlands_ave['timestamp'] = woodlands_ave['timestamp'].str.replace('T',' ')
woodlands_road = read_csv('woodlands_road_weather_data.csv',index_col=0)
woodlands_road['timestamp'] = woodlands_road['timestamp'].str.replace('T',' ')

print(woodlands_ave.shape)
print(woodlands_road.shape)
print(woodlands_road.head(5))
print(woodlands_ave.head(5))

(24, 7)
(24, 7)
               timestamp device_id            name  latitude  longitude  \
312  2022-03-10 00:00:00      S100  Woodlands Road    1.4172  103.74855
313  2022-03-10 01:00:00      S100  Woodlands Road    1.4172  103.74855
314  2022-03-10 02:00:00      S100  Woodlands Road    1.4172  103.74855
315  2022-03-10 03:00:00      S100  Woodlands Road    1.4172  103.74855
316  2022-03-10 04:00:00      S100  Woodlands Road    1.4172  103.74855

     temp_value  rain_value
312   28.080000         0.0
313   27.835000         0.0
314   28.913333         0.0
315   27.788333         0.0
316   26.443333         0.0
               timestamp device_id                name  latitude  longitude  \
288  2022-03-10 00:00:00      S104  Woodlands Avenue 9   1.44387  103.78538
289  2022-03-10 01:00:00      S104  Woodlands Avenue 9   1.44387  103.78538
290  2022-03-10 02:00:00      S104  Woodlands Avenue 9   1.44387  103.78538
291  2022-03-10 03:00:00      S104  Woodlands Avenue 9   1.44387  103.78538
292  2022-03-10 04:00:00      S104  Woodlands Avenue 9   1.44387  103.78538

     temp_value  rain_value
288   27.678333           0
289   27.825000           0
290   27.710000           0
291   27.658333           0
292   27.783333           0

In [23]:
woodlands_ave.to_csv('wd_ave.csv', sep='\t')
woodlands_road.to_csv('wd_rd.csv', sep='\t')
tuas.to_csv('tuas.csv', sep='\t')